
<div class="footer-dark">
   
    <footer>
        
        <div class="container mt-3 ">
            <hr >
            <div class="row mt-5">
                <div class="col-sm-6 col-md-4 item mb-4  ">
                    <h3>Support</h3>
                    <ul class="list">
                        <li><a href="#">Help Centre</a></li>
                        <li><a href="#"> Anti-discrimination</a></li>
                        <li><a href="#">Cancellation options</a></li>
                        <li><a href="#">Disability support</a></li>
                        <li><a href="#">Report neighbourhood concern</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item mb-4 ">
                    <h3>explore journey</h3>
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press & Media</a></li>
                        <li><a href="#">Travel Advisor</a></li>
                        <li><a href="#"> Contact Us</a></li>
                        <li><a href="#">  Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item mb-4 ">
                    <h3>Hosting</h3>
                    <ul class="list">
                        <li><a href="#">explorejourney your home</a></li>
                        <li><a href="#">Hosting resources</a></li>
                        <li><a href="#">Hosting responsibly</a></li>
                        <li><a href="#"> Community forum</a></li>
                        <li><a href="#">Join a free Hosting class</a></li>
                    </ul>
                </div>
            </div><br><br>
            <hr >
            <div class="f-info">
                <div class="f-info-socials">
                   <a href="https://www.facebook.com/exploresjourney?mibextid=ZbWKwL" ><i class="fa-brands fa-square-facebook"></i></a>
                   <a href=""><i class="fa-brands fa-square-instagram"></i></a> 
                    <a href=""><i class="fa-brands fa-linkedin"></i></a> 
                    <a href="https://youtube.com/@explorejourneys?si=KK8aP0BfZq0zp47_"><i class="fa-brands fa-youtube"></i></a> 
                    <a href=""><i class="fa-brands fa-square-twitter"></i></a> 
                </div>
                <div class="f-info-brand">&copy; explorejurney Private Limited</div>
                <div class="f-info-links">
                    <a href="/privacy">Privacy</a>
                    <a href="/terms">Terms</a>
                </div>
            </div>
    </div>
    </footer>
</div>
