<div class="footer-dark">

    <style>
        /*================= contact section starts here ================/ */
        .modal-content {
            color: black;
            background-color: #fff;
            width: 100%;
            margin: 0 auto;

            transition: background 0.5s, transform 0.5s;

            box-shadow: 1px 1px 20px rgb(19, 18, 18),
                1px 1px 40px rgb(5, 5, 5);
        }

        .modal-content:hover {
            transform: translate(-10px);
        }

        .send-msg {
            color: #fff !important;
            background-color: green;

            box-shadow: 0 0 5px green,
                0 0 25px green !important;
        }

        .send-msg:hover {
            box-shadow: 0 0 5px cyan,
                0 0 25px cyan, 0 0 50px cyan,
                0 0 100px cyan, 0 0 200px cyan !important;
            color: white !important;
            background-color: #0ef;
        }

        .send-msg {

            opacity: 0;
            animation: slideTop 1s ease forwards;
            animation-delay: 3s;
        }

        .contact-heading {
            opacity: 0;
            animation: slideButtom2 1s ease forwards;
            animation-delay: 1s;

        }

        .contact-input {
            opacity: 0;
            animation: slideButtom1 1s ease forwards;
            animation-delay: 2s;
            color: #081b29;
            border-radius: 10px;
        }

        .contact-input {
            opacity: 0
        }


        /* /================= animation section ends here ================/
        /================= responsive section starts here ================/ */

        @keyframes slideButtom1 {

            0% {
                transform: translateX(-100px);
                opacity: 0;
            }

            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        @keyframes slideTop {

            0% {
                transform: translateY(-100px);
                opacity: 0;
            }

            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }

        @keyframes slideButtom2 {

            0% {
                transform: translateY(300px);
                opacity: 0;
            }

            100% {
                transform: translateX(0px);
                opacity: 1;
            }
        }

        @media (max-width: 1024px) {

            .counter-section .counter-div .counter-col {
                margin: 5% 0% 5% 0%;
            }
        }

        @media (max-width: 768px) {}

        html .counter-section .counter-div .counter-col {
            margin: 5% 0% 5% 0%;
        }

        @media (max-width: 600px) {

            .send-msg {
                margin-top: 1.8rem !important;
            }
        }


        .circle-indicator {
            display: inline-block;
            width: 10px;
            /* Adjust size of the circle */
            height: 10px;
            /* Adjust size of the circle */
            border-radius: 50%;
            /* Make it a circle */
            background-color: #6c757d;
            /* Color of inactive circle */
            margin: 0;
            /* Adjust spacing between circles */
        }
    </style>
    <footer>

        <div class="container mt-3 ">
            <hr>
            <div class="row mt-5">
                <div class="col-sm-6 col-md-4 item mb-4  ">
                    <h3>Support</h3>
                    <ul class="list">
                        <li><a href="#">Help Centre</a></li>
                        <li><a href="#"> Anti-discrimination</a></li>
                        <li><a href="#">Cancellation options</a></li>
                        <li><a href="#">Disability support</a></li>
                        <li><a href="#">Report neighbourhood concern</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item mb-4 ">
                    <h3>explore journey</h3>
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press & Media</a></li>
                        <li><a href="#">Travel Advisor</a></li>
                        <li><a href="/users/portfolio" target="_blank">portfolio</a></li>


                        <!-- -------------------------update now------------------------------------------------>

                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#contactus"> Contact Us</a></li>


                        <li><a href="#"> Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4 item mb-4 ">
                    <h3>Hosting</h3>
                    <ul class="list">
                        <li><a href="#">explorejourney your home</a></li>
                        <li><a href="#">Hosting resources</a></li>
                        <li><a href="#">Hosting responsibly</a></li>
                        <li><a href="#"> Community forum</a></li>
                        <li><a href="#">Join a free Hosting class</a></li>
                    </ul>
                </div>
            </div><br><br>
            <hr>
            <div class="f-info">
                <div class="f-info-socials">
                    <a href="https://www.facebook.com/exploresjourney?mibextid=ZbWKwL" target="_blank"><i
                            class="fa-brands fa-square-facebook"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-square-instagram" ></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://youtube.com/@explorejourneys?si=KK8aP0BfZq0zp47_"><i
                            class="fa-brands fa-youtube"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                </div>



                <div class="f-info-brand">
                    &copy; explorejurney
                </div>
                <div class="f-info-links mb-3">
                    <a href="/privacy">Privacy</a>
                    <a href="/terms">Terms</a>
                </div>
            </div>

            <div class="f-language ">
                <div class="dropdown mt-2">
                    <button class="dropdown-toggle btn btn-secondary" type="button" id="languageDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-globe me-2"></i>Language
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">हिन्दी</a></li>
                        <li><a href="#" class="dropdown-item">Help</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
</div>

<section id="contact" class="contact-section mt-5 ">
    <div class="row modal fade " id="contactus">
        <div class="col-md-6 modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content " style="background-color: #fff; color:black">
                <div class="modal-header">
                    <h3 class="mb-4 font-weight-bolder contact-heading modal-title"><span
                            class="bi bi-person-rolodex touch"></span> Contact <span style="color:green">Me</span>
                    </h3>
                    <div>

                    </div>
                    <button class="btn-close btn btn-danger bg-danger" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form action="" class="form-control" style="border: none;">
                        <input autofocus class="form-control mb-3 contact-input " placeholder="Your Name" type="text" />
                        <input class="form-control mb-3 contact-input" placeholder="Your Email" type="email">
                        <input class="form-control mb-3 contact-input" minlength="5" maxlength="10"
                            placeholder="mobile number" type="tel" required>
                        <input class="form-control mb-3 contact-input" placeholder="subject" type="text"> <textarea
                            class="form-control mb-3 contact-input" placeholder="Message" name="text" id="" cols="30"
                            rows="5"></textarea>

                        <button class=" rounded-pill text-white btn font-weight-bolder send-msg mt-2 "
                            type="submit"><span class="bi bi-send"> </span>Send Message</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section> <!-- contact section ends here -->

