<style>
  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;

  }

  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.75rem;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.7rem 4rem;
    font-size: 0.95rem;
    border: none;

  }

  .search-input:focus {
    box-shadow: none;
    /* Remove the box-shadow */
    border: none;
  }

  .btn-list {
    background-color: #fff;
    color: #fff;
    border-radius: 25px;
    height: 2.75rem;
    width: 5rem;
    padding: 0rem 1rem 0 1rem;
    border: 1px solid rgb(143, 138, 138);
    box-shadow: 0 0px 0px black;
    transition: 0.7s;
  }

  .btn-list:hover {
    box-shadow: 0 4px 8px #fff;
    border: 1px solid rgb(150, 143, 143);
  }

  .btn-list i {
    display: inline;
    color: black;
    margin-right: 1rem;
    font-size: 1.25rem;
  }

  .title,
  .title1 {
    font-size: 15px !important;
    color: rgb(0, 204, 255);
    text-shadow: 4px 4px 6px pink;
    font-family: Arial;
    font-weight: bold;

  }

  .title1:hover {
    background-color: #7FFFD4;
    border-radius: 10px;
  }


  .dropdown-class-img,.dropdown-class-img-b{
    border-radius: 50%;
    border: 2px solid rgb(133, 129, 129);
    box-shadow: 0px 0px 10px #002147;
  
  }
  .dropdown-class-img
  {

    width: 40px;
    height: 40px; 
  }
.dropdown-class-img-b
{
    width: 70px;
    height: 70px; 
    margin-left: 5rem;
    
}
.dropdown-logout a:hover
{
  color: blue !important;

}
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- -------------------------update now------------------------------------------------>
    <a class="navbar-brand" href="/"><img src="/img/logo.jpg"
        style="width: 60px; height: 60px; border-radius: 50%;" loading="lazy" /></a>
    <!-- <a class="navbar-brand" href="/listing"> <i class="fa-regular fa-compass"></i></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- -------------------------update now------------------------------------------------>
        <a class="nav-link" href="/">
          <div class="title">
            

            <font color="red" size="5">e</font>
            <font color="red" size="5">x</font>
            <font color="red" size="3">p</font>
            <font color="red" size="3">l</font>
            <font color="red" size="3">o</font>
            <font color="red" size="5">r</font>
            <font color="red" size="5">e</font>
          </div>
        </a>
      </div>

      <div class="navbar-nav ms-auto" style="border: 0.01rem solid rgb(134, 129, 129); border-radius: 25px;">
        <form class="d-flex input-group" role="search">

          <input class="form-control search-input" type="Search" placeholder="Search destination" aria-label="Search">

          <button class="btn btn-search " type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

      </div>

      <div class="navbar-nav ms-auto">
        <!-- -------------------------update now------------------------------------------------>
        <a class="nav-link" href="/new">
          <!-- 𝖗  𝖇 𝖋𝖊𝖆𝖙𝖚𝖗𝖊 𝖔𝖓 𝖞𝖔𝖚𝖗 𝕭𝖑𝖔𝖌  𝖋𝖊𝖆𝖙𝖚𝖗𝖊 𝕺𝖓 𝖄𝖔𝖚𝖗 𝕭𝖑𝖔𝖌 𝖋𝖊𝖆𝖙𝖚𝖗𝖊 𝕺𝖜𝖓 𝖄𝖔𝖚𝖗 𝕭𝖑𝖔𝖌-->


          <div class="title1">

            <font color="#8B0000" size="5">𝖋</font>
            <font color="#8B0000" size="5">𝖊</font>
            <font color="#8B0000" size="3">𝖆</font>
            <font color="#8B0000" size="3">𝖙</font>
            <font color="#8B0000" size="3">𝖚</font>
            <font color="#8B0000" size="3">𝖗</font>
            <font color="#8B0000" size="3">𝖊</font>
            <font color="#000080" size="5">𝕺</font>
            <font color="#000080" size="3">𝖜</font>
            <font color="#000080" size="3">𝖓</font>
            <font color="#228B22" size="5">𝖄</font>
            <font color="#228B22" size="3">𝖔</font>
            <font color="#228B22" size="3">𝖚</font>
            <font color="#228B22" size="3">𝖗</font>
            <font color="#2F4F4F" size="5">𝕭</font>
            <font color="#2F4F4F" size="3">𝖑</font>
            <font color="#2F4F4F" size="3">𝖔</font>
            <font color="#2F4F4F" size="3">𝖌</font>

          </div>
        </a>


        <% if(!currentUser) { %>

          <div class="dropdown">
            <button class="btn btn-list" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
              aria-expanded="false" >
              <i class="far fa-user" style="color: black;"></i><i class="fas fa-bars"></i>
            </button>
            
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
              <div style="width: 250px;" >
                <li class="dropdown-logout"><a class="dropdown-item mt-4" href="/users/signup"><i class="fa-solid fa-user-plus me-2 " style="font-size: 20px; color:green"></i>Sign Up</a></li>

              </div>
             

              <li class="dropdown-logout"><a class="dropdown-item" href="/users/login">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" viewBox="0 0 512 512" id="login" class="me-2"><path  fill="#fe424d" d="M255.988 32C160.473 32 78.934 91.804 46.727 176h34.639c9.396-20.484 22.457-39.35 38.868-55.762C156.497 83.973 204.709 64 255.988 64c51.286 0 99.504 19.973 135.771 56.239C428.027 156.505 448 204.719 448 256c0 51.285-19.973 99.501-56.239 135.765C355.494 428.029 307.275 448 255.988 448c-51.281 0-99.493-19.971-135.755-56.234-16.412-16.412-29.473-35.28-38.871-55.766H46.725c32.206 84.201 113.746 144 209.264 144C379.703 480 480 379.715 480 256c0-123.702-100.297-224-224.012-224z"></path><path fill="#fe424d" d="M206.863 323.883l22.627 22.627L320 256l-90.51-90.51-22.628 22.628L258.745 240H32v32h226.745z"></path></svg>Login</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Help?</a></li>
            </ul>
          </div>


          <% } %>
            <% if(currentUser) { %>

              <div class="dropdown">
                <button class="btn me-2" type="button"  data-bs-toggle="dropdown"
                  aria-expanded="false" style= "border: none;" >
                  <img src="/img/dummy.jpg" class="dropdown-class-img" alt="" id="dropdownMenuButton">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">

                
                  <div class="container-fluid">
                    <li class="mt-2 mb-3 ">
                     <img src="/img/dummy.jpg" alt="" class="dropdown-class-img-b">
                    </li>
                  </div>
                  <div style="width: 250px; margin-left: 1rem;" class="container-fluid mb-4 "> 
                    <li><h6><b><%= currentUser.username %></b></h6></li>
                  </div>
                 
                  <li class="dropdown-logout"><a class="dropdown-item" href="/users/signup">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48" viewBox="0 0 48 48" id="profile" style="width: 30;" class="me-1">
                      <path fill="#fe424d" d="M24,6C14.1,6,6,14.1,6,24s8.1,18,18,18s18-8.1,18-18S33.9,6,24,6z M24,13c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4c-2.2,0-4-1.8-4-4C20,14.8,21.8,13,24,13z M14,34c0-5.5,4.5-10,10-10c5.5,0,10,4.5,10,10H14z"></path></svg>
                    My Profile</a></li>
                 
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                 
                  <li class="dropdown-logout"><a class="dropdown-item" href="/users/logout">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="logout" style="width: 30; " class="me-2"><path fill="#fe424d" d="M32 52.72a20.43 20.43 0 0 1-14.13-35.17 1 1 0 0 1 1.42 0 1 1 0 0 1 0 1.41 18.42 18.42 0 1 0 25.48 0 1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0A20.43 20.43 0 0 1 32 52.72Z"></path><path fill="#fe424d" d="M32 34a1 1 0 0 1-1-1V12.28a1 1 0 0 1 2 0V33a1 1 0 0 1-1 1Z"></path></svg>Sign out
                </a></li>
                </ul>
              </div>

              <% } %>
      </div>
    </div>
  </div>
</nav>