<% layout("/layouts/bolierplate") %>
 
<style>

/*---------------index page listing---------------------------------*/

@media screen and (max-width: 768px) {
 .filters .filter:nth-child(n+6) {
    display: none;
}
.card{
    margin-top: 6rem !important;
}
}

.filters {

    position: fixed;
    top: 3rem;
    background-color: #fff;
    /* Adjust according to your design */
    padding: 1rem;
    /* Adjust according to your design */
    z-index: 1000;
    /* Adjust according to your design and layout */
    width: 100%;
    /* Adjust according to your design */
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    text-align: center;
    margin-right: 1.4rem;
    margin-top: 2rem;
    opacity: 0.7;
    flex-wrap: wrap;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.taxt-info {
    display: none;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.ourjourney-main
{
    background-color:#F4F2EF;;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.home-title{
    text-align: center;
    color:#866D4B;
}
.item--icon{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.item--icon i{
    font-size: 20px;
    padding: 0.55rem;
    align-items: center;
    text-align: center; 
}

</style>
    
    <div class="filters pb-1">
        <div class="filter">
            <div>
                <i class="fa-solid fa-fire"></i>
            </div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-bed"></i>
            </div>
            <p>rooms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain-city"></i>
            </div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain"></i>
            </div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-brands fa-fort-awesome"></i>
            </div>
            <p>Castels</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-person-swimming"></i>
            </div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-campground"></i>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-cow"></i>
            </div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-campground"></i>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-igloo"></i>
            </div>
            <p>Domes</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-ship"></i>
            </div>
            <p>Houseboats</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch ">

                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label for=" class=form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
            </div>
        </div>
    </div><br><br>
<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5 ">
        <% for( listing of allListings) { %>
            <a href="/<%= listing._id %>" class="listing-list">


                <div class="card col listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                        style="height: 20rem;" loading="lazy"/>

                    <div class="card-img-overlay"></div>

                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title %>
                            </b>
                            <br>
                            &#8377;<%= listing.price.toLocaleString("en-IN") %> /awsome

                                <i class="taxt-info">&nbsp;&nbsp; +18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
            <% } %>
    </div>
</div>


    <div class="ourjourney-main">
        <section>
       
            <div class="content-main  p-5">
                <hr>
            <div class="home-title mt-5">
                <h1>All our journeys include:</h1>
            </div>
            <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 mt-5 p-5">

                <div class="col item mb-5">
                    <div class="item--icon">
                       <p><i class="fa-solid fa-champagne-glasses"></i></p> 
                    </div>
                    <div class="item-text mt-4">
                        <p>In-suite welcome bottle of champagne and sweet treats</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-wine-bottle"></i></p>
                    </div>

                    <div class="item-text mt-4">
                     
                        <p>A bottle of wine and a bottle of spirit of the guests’ choice upon arrival</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-users"></i></p>
                    </div>

                    <div class="item-text mt-4">
                  
                        <p>Authentic, cultured, intuitive service</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-mortar-pestle"></i></p>
                    </div>

                    <div class="item-text mt-4">
                    
                        <p>9 Culinary Experiences, including In-Suite Dining</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-spa"></i></p>
                    </div>

                    <div class="item-text mt-4">
                      
                        <p>Thermal Spa Access</p>
                        <p></p>
                    </div>
                </div>



                <div class="col item ">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-martini-glass-citrus"></i></p>
                    </div>

                    <div class="item-text mt-4">
                 
                        <p>Unlimited fine beverages*</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-ticket"></i></p>
                    </div>

                    <div class="item-text mt-4">
                       
                        <p>All on-board gratuities</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-wifi"></i></i></p>
                    </div>

                    <div class="item-text mt-4">
                        
                        <p>Complimentary Wi-Fi</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-bus"></i></p> 
                    </div>

                    <div class="item-text mt-4">
                        
                        <p>Shuttle services from port to city centre**</p>
                        <p></p>
                    </div>
                </div>

                <div class="col item">
                    <div class="item--icon">
                        <p><i class="fa-solid fa-heart-pulse"></i></p>
                    </div>

                    <div class="item-text mt-4">
                        <p>Wellbeing and fitness programmes on board and at the destinations</p>
                        <p></p>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
    <script>
        let taxtSwitch = document.getElementById("flexSwitchCheckDefault");

        taxtSwitch.addEventListener("click", () => {

            let taxtInfo = document.getElementsByClassName("taxt-info");
            for (info of taxtInfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline";

                }
                else {
                    info.style.display = "none";
                }

            }
        });
    </script>