<% layout("/layouts/bolierplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">


            <h3>create a new Listing</h3>
                   <!-- -------------------------update now url------------------------------------------------>
            <form method="post" action="/" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>

                    <div class="valid-feedback">title looks good !

                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" type="text" class="form-control" required></textarea>

                    <div class="invalid-feedback">please enter  be valid
                    </div>
                </div>

                   <!---------------------------------------------->
                   <div class="mb-3 ">
                    <label for="story_heading" class="form-label">What is your journey heading ?</label>
                    <input name="listing[story_heading]" placeholder="enter your story name " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story main point
                        </div>
                </div>
                <div class="mb-3 ">
                    <label for="story_title" class="form-label">What is your journey title ?</label>
                    <input name="listing[story_title]" placeholder="enter your story title " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story title point
                        </div>
                </div>
                <div class="mb-3">
                    <label for="story_content" class="form-label">What is your journey story  ?</label>
                    <textarea name="listing[story_content]" placeholder="story heading" type="text" class="form-control" required></textarea>

                    <div class="invalid-feedback">please enter  be valid
                    </div>
                </div>


                <!---------------------------------------------->
                <div class="mb-3 ">
                    <label for="story_heading1" class="form-label">What is your experience heading ?</label>
                    <input name="listing[story_heading1]" placeholder="enter your experience heading " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story main point
                        </div>
                </div>
                <div class="mb-3 ">
                    <label for="story_title1" class="form-label">What is your experience title ?</label>
                    <input name="listing[story_title1]" placeholder="enter your experience title " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story title point
                        </div>
                </div>
                <div class="mb-3">
                    <label for="story_content1" class="form-label">What is your experience  ?</label>
                    <textarea name="listing[story_content1]" placeholder="story experience" type="text" class="form-control" required></textarea>

                    <div class="invalid-feedback">please enter  be valid
                    </div>
                </div>


                <!---------------------------------------------->
                <div class="mb-3 ">
                    <label for="story_heading2" class="form-label">How were your Cuisine and Food Exploration ?</label>
                    <input name="listing[story_heading2]" placeholder="enter your story name " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story main point
                        </div>
                </div>
                <div class="mb-3 ">
                    <label for="story_title2" class="form-label">how were your title Cuisine and Food Exploration  ?</label>
                    <input name="listing[story_title2]" placeholder="enter your story title " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story title point
                        </div>
                </div>
                <div class="mb-3">
                    <label for="story_content2" class="form-label">how were your heading Cuisine and Food Exploration  ?</label>
                    <textarea name="listing[story_content2]" placeholder="story heading" type="text" class="form-control" required></textarea>

                    <div class="invalid-feedback">please enter  be valid
                    </div>
                </div>

                <!---------------------------------------------->

                <div class="mb-3 ">
                    <label for="story_heading3" class="form-label">What were your heading Adventure and Outdoor Activities?</label>
                    <input name="listing[story_heading3]" placeholder="enter your story name " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story main point
                        </div>
                </div>

                <div class="mb-3 ">
                    <label for="story_title3" class="form-label">What were your title Adventure and Outdoor Activities?</label>
                    <input name="listing[story_title3]" placeholder="enter your story title " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story title point
                        </div>
                </div>
                <div class="mb-3">
                    <label for="story_content3" class="form-label">What were your experience heading Adventure and Outdoor Activities? ?</label>
                    <textarea name="listing[story_content3]" placeholder="story heading" type="text" class="form-control" required></textarea>

                    <div class="invalid-feedback">please enter  be valid
                    </div>
                </div>



                <!---------------------------------------------->

                <div class="mb-3 ">
                    <label for="story_heading4" class="form-label">What were your Practical Travel Tips ?</label>
                    <input name="listing[story_heading4]" placeholder="enter your story name " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story main point
                        </div>
                </div>
                <div class="mb-3 ">
                    <label for="story_title4" class="form-label">What were your Practical Travel title  ?</label>
                    <input name="listing[story_title4]" placeholder="enter your story title " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story title point
                        </div>
                </div>
                <div class="mb-3">
                    <label for="story_content4" class="form-label">What were your Practical Travel content  ?</label>
                    <textarea name="listing[story_content4]" placeholder="story heading" type="text" class="form-control" required></textarea>

                    <div class="invalid-feedback">please enter  be valid
                    </div>
                </div>

                <!---------------------------------------------->
                <div class="mb-3 ">
                    <label for="story_heading5" class="form-label">What is your conclusion ?</label>
                    <input name="listing[story_heading5]" placeholder="enter your story name " type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">please enter a your story main point
                        </div>
                </div>
                
                <div class="mb-3">
                    <label for="story_content5" class="form-label">What is your conclusion  ?</label>
                    <textarea name="listing[story_content5]" placeholder="story heading" type="text" class="form-control" required></textarea>

                    <div class="invalid-feedback">please enter  be valid
                    </div>
                </div>



                <div class="mb-3">
                    <label for="image" class="form-label">Upload Multiple Image </label>
                    <input name="listing[image]" type="file" class="form-control" required multiple/>
                </div>

<!--                 
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input name="listing[image]" placeholder="enter image url/link" type="text" class="form-control"/>
                </div> -->

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="enter price" class="form-control" type="text" required>
                        
                    <div class="invalid-feedback">price should be valid
                    </div>
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="discountPrice" class="form-label">Discount %</label>
                        <input name="listing[discountPrice]" placeholder="enter Discount" class="form-control" type="text" required>
                        
                    <div class="invalid-feedback">price should be valid
                    </div>

                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="enter country name " type="text"
                            class="form-control" required>
                            <div class="invalid-feedback">please enter a valid country name
                            </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="enter location" class="form-control" required>
                    <div class="invalid-feedback">location should valid location
                    </div>

                </div>

                
                <button type="submit" class="btn btn-dark add-btn mt-3 mb-3">Add</button>

            </form>
        </div>
    </div>