<% layout("/layouts/bolierplate") %>


    <div class="row mt-4 mb-5">
        <h1 class="col-6 offset-3">Login</h1>
        <div class="col-8 offset-3 mt-5">

            <form action="/users/login" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label><br>
                    <div class="input-group user-input-border">
                        <i class="fa-regular fa-user input-group-text"></i>
                        <input name="username" type="text" class="form-control user-input" required id="username" autofocus />
                        <i class="fa-regular fa-circle-check input-group-text"></i>
                    </div>
                   
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group  user-input-border">
                        <i class="fa-solid fa-key input-group-text"></i>
                        <input name="password" type="password" class="form-control user-input" required id="password" />
                        <i class="fa-regular fa-circle-check input-group-text"></i>

                    </div>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>